*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



body{
    display: flex;
    flex-direction: column;
}

/* COLONNE */
.col-3{
    width: calc(100% / 4);
}
.col-4{
    width: calc(100% / 3);
}

.col-8{
    width: calc(100% / 1.5);
}

.col-9{
    width: calc(100% / 1.33333333333);
    margin: 0 auto;
}

.col-12{
    width: calc(100%);
}

/* HEADER */

a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

img{
    max-width: 100%;
}

.container-header{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
   
}

.section-1 .row{
    display: flex;
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 70px;
}

.nav-left{
    align-items: center;
    display: flex
}

.button{
    background-color: #0061FF;
    color: white;
}

/* MAIN HEADER */

h1{
    font-size: 90px;
    text-align: left;
    margin-bottom: 30px;
}

.section-1{
    width: 100%;
    background-color:#B4D0E7 ;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section-1 p {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px
}


.ancora{
    display: flex;
}

/* SECTION-2 */

h3{
    margin-top: 100px;
    padding-bottom: 40px;
    font-size: 30px;
}

.section-2 p{

}

.section-2 .col-12{
    margin: 0 auto;
    text-align: left;
    display: block
}

#input-right {
    margin-left: 50px;
}

.plane{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.people-number{
text-align: center;
padding-bottom: 10px;
margin-bottom: 20px;
border-bottom: 1px solid lightgrey;

}

.plane-name{
    font-size: 30px;
    font-weight: 700;
}

.plane-price{
    font-weight: 700;
}

.title-midle-column{
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: left;
}

.left{
    text-align: left;
    padding: 10px 0px;
}

.section-2 .button{
    margin-bottom: 20px;
    margin-top: 50px;
}

.section-2 .col-4{
    padding: 20px;
    border: 1px solid lightgray;
}

.margin-r{
    margin-right: 30px;
}


/* SECTION-3 */ 

.section-3 .top-row{
    border: 1px solid lightgray;
    text-align: center;
}

.section-3 .bottom-row{
    text-align: left;
    border: 1px solid lightgray;
    padding: 20px;
}

.section-3 .col-12{
    margin-top: 50px;
}

.section-3 .bottom-row{
    display: flex;
}

.section-3 a{
    margin-left: 80px;
}

.section-3 .col-4{
    margin-top: 10px;
}

.section-3 .plane-price{
    padding-bottom: 60px;
    padding-top: 10px;
}

.top-row p{
   padding: 10px;
}


/* SECTION-4 */

.section-4{
    margin-top: 150px;
}

.section-4 .col-8{
    padding-right:50px; 
}

.section-4 .row{
    display: flex;

}

.section-4 .top-row{
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    padding-top: 80px;
}

.section-4 .bottom-row{
    padding: 30px 0px;
    text-align: left;
    
}

.section-4 .button-white{
    text-align: left;
    border: 1px solid black;
    margin-top: 30px;
}

/* SECTION-5 */

.section-5 .row{
    display: flex;
    flex-wrap: wrap;
}

.font-mid{
    font-size: 25px;
    font-weight: 700;
}

.font-low{
    padding: 30px 0px;
}

/* SECTION-6 */


