*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

/* COLONNE */
.col-3{
    width: calc(100% / 4);
}
.col-4{
    width: calc(100% / 3);
}

.col-8{
    width: calc(100% / 1.5);
}

.col-9{
    width: calc(100% / 1.33333333333);
}

.col-12{
    width: calc(100%);
}

/* HEADER */

a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

img{
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-1 .row{
    display: flex;
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 70px;
}

.nav-left{
    align-items: center;
    display: flex
}

.button{
    background-color: #0061FF;
    color: white;
}

/* MAIN HEADER */

h1{
    font-size: 90px;
    text-align: left;
    margin-bottom: 30px;
}

.section-1{
    width: 100%;
    background-color:#B4D0E7 ;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section-1 p {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px
}

.col-4 :last-child {
    margin-top: 20px;
}

.ancora{
    display: flex;
}

/* SECTION-2 */

h3{
    margin-top: 100px;
    padding-bottom: 40px;
    font-size: 30px;
}

.section-2 p{

}

.section-2 .col-9{
    margin: auto;
    text-align: left;
    display: block
}

#input-right {
    margin-left: 50px;
}

.plane{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.people-number{
text-align: center;
padding-bottom: 30px;
}

.plane-name{
    font-size: 30px;
    font-weight: 700;
}

.plane-price{
    font-weight: 700;
}

.title-midle-column{
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: left;
}

.left{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px
}

.section-2 .button{
    margin-bottom: 20px;
    margin-top: 50px;
}

.section-2 .col-3{
    padding: 30px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
}
