*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* COLONNE */

.col-2{
    width: calc(100% / 6);
}

.col-3{
    width: calc(100% / 4);
}
.col-4{
    width: calc(100% / 3);
}

.col-6{
    width: calc(100% / 2);
}

.col-8{
    width: calc(100% / 1.5);
}

.col-9{
    width: calc(100% / 1.33333333333);
    margin: 0 auto;
}

.col-12{
    width: calc(100%);
}

/* HEADER */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

img{
    max-width: 100%;
}

.container-header{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
   
}

.section-1 .row{
    display: flex;
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 70px;
}

.nav-left{
    align-items: center;
    display: flex
}

.button{
    background-color: #0061FF;
    color: white;
}

/* MAIN HEADER */

h1{
    font-size: 90px;
    text-align: left;
    margin-bottom: 30px;
}

.section-1{
    width: 100%;
    background-color:#B4D0E7 ;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section-1 p {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px
}


.ancora{
    display: flex;
}

/* SECTION-2 */

h3{
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 30px;
}

.section-2 p{

}

.section-2 .col-12{
    margin: 0 auto;
    text-align: left;
    display: block
}

#input-right {
    margin-left: 50px;
}

.plane{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.people-number{
text-align: center;
padding-bottom: 10px;
margin-bottom: 20px;
border-bottom: 1px solid lightgrey;

}

.plane-name{
    font-size: 30px;
    font-weight: 700;
}

.plane-price{
    font-weight: 700;
}

.title-midle-column{
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: left;
}

.left{
    text-align: left;
    padding: 10px 0px;
}

.section-2 .button{
    margin-bottom: 20px;
    margin-top: 50px;
}

.section-2 .col-4{
    padding: 20px;
    border: 1px solid lightgray;
}

.margin-r{
    margin-right: 30px;
}

.row-plane_bottom .top-row{
    border: 1px solid lightgray;
    text-align: center;
}

.row-plane_bottom .bottom-row{
    text-align: left;
    border: 1px solid lightgray;
    padding: 20px;
}

.row-plane_bottom .col-12{
    margin-top: 50px;
}

.row-plane_bottom .bottom-row{
    display: flex;
}

.row-plane_bottom .col-4{
    margin-top: 10px;
    border: 0px;
}

.row-plane_bottom .plane-price{
    padding-bottom: 60px;
    padding-top: 10px;
}

.top-row p{
   padding: 10px;
}


/* SECTION-4 */

.section-4{
    margin-top: 150px;
}

.section-4 .col-8{
    padding-right:50px; 
}

.section-4 .row{
    display: flex;

}

.section-4 .top-row{
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    padding-top: 80px;
}

.section-4 .bottom-row{
    padding: 30px 0px;
    text-align: left;
    
}

.section-4 .button-white{
    text-align: left;
    border: 1px solid black;
    margin-top: 30px;
}

/* SECTION-5 */

.section-5 .row{
    display: flex;
    flex-wrap: wrap;
}

.font-mid{
    font-size: 25px;
    font-weight: 700;
}

.font-low{
    padding: 30px 0px;
}

/* SECTION-6 */



/* SECTION-7 */
.section-7{
    margin-top: 100px;
}
.section-7 img{
    padding: 40px;
}

.square-2{
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-4{
    width: calc(100% / 3);
    height: 540px;
    display: flex;
    flex-wrap: wrap;
}

.square-4 p{
    padding: 30px;
    text-align: left;
}

.section-7 .square-2{
    height: 270px;
}

.container-bottom{
    width: 100%;
}

.section-7 .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bg-darkred{
    background-color: #61082B;
    height: 270px;
}

.bg-lime{
    background-color: #A2D39B;
}

.bg-red{
    background-color: #FF1C1C;
}

.bg-lightlightblu{
    background-color: #B4D0E7;
}

.bg-lightgray{
    background-color: #F5F5F5;
}

.bg-lightblu{
    background-color: #0061FF;
}

.bg-blu{
    background-color: #0D2481;
}

.bg-yellow{
    background-color: #FFD830FC;
}

.filter-white{
    filter:invert(1)
}

.bb-lg{
    border-bottom: 1px solid gray;
}

/* SECTION-8 */

.section-8{
    background-color:#B4D0E7 ;
}

.section-8 .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-8 h3{
    text-align: left;
    font-size: 40px;
    color: #61082B;
}

.section-8 .row{
    display: flex;
}

.section-8 .button-white{
    background-color: white;
    padding: 10px 30px;

}

/* SECTION-9 */

.section-9 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-9 p{
  
    padding: 30px 0px;
}

.section-9 i{
    padding: 30px 0px;  
}

/* FOOTER */

footer{
    background-color: black;
    margin-top: 200px;
}

li{
    color: white;
}

footer .container-header{
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

footer li{
    padding: 10px;
}

.title-li{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

footer p{
    color: #F5F5F5;
    border-top: 1px solid white;
    padding: 10px;
    margin-top: 100px;
}

footer i{
    color: white;
}